body{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

th, td{
    border: solid 1px;
}

th{
    border-color: black;
    color: #808080;
    font-size: 12px;
}

td{
    font-size: 12px;

}

.tableTitle{
    text-align: center;
    color: #4F4F4F;
    border-color: black;
    font-weight: bold;
    font-size: 16px;

}

table{
    text-align: center;
    table-layout: fixed;
    width: 60%;
    margin-top: 4rem;
}


.footer{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.year{
    margin-top: 0;
    margin-bottom: 0.5rem;
}